body{
  overflow-y:scroll;
  overflow-x:hidden;
  font-family:Arial, sans-serif;
}
:root,body,html{
background-color: #f2fffc;
box-sizing: border-box;

}
div,h1,h2,h3,h4,h5,h6,header,img,html,label,li,nav,small,p,span,ul{
  margin:0;
 padding :0;
 border:0;
 outline: none;
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}